* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

main {
    max-width: max-content;
}

.banner {
    width: 100%;
    height: 1000px;
}

.container1,
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80461A;
}

.text1,
.text2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    max-width: 100%;
    padding: 30px;
}

.container2 p {
    max-width: 70%;
    width: 100%;
}










